#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

/* Dark mode toggle */
body {
  background-image: url("./assets/lesesel_dag.PNG");
  background-repeat: no-repeat;
  background-color: rgb(127, 251, 255);
  background-size: cover;
  color: black;
}

.dark-mode {
  background-image: url("./assets/lesesel_natt.PNG");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1em 0;
}
/* Navigation */

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mainNav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navElement {
  position: relative;
}

.navElement div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  background-color: whitesmoke;
  color: rgb(35, 146, 194);
  text-decoration: none;
  cursor: pointer;
}

.navElement:hover > .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  z-index: 1;
  padding: 5px 0;
  margin: 0;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  display: flex;
  align-items: center;
  padding: 2px 0px;
}

.dropdown a {
  color: black;
  text-decoration: none;
}
.dropdown a:hover {
  color: rgb(58, 102, 150);
}
/* Search */
.cardList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.card {
  border: 3px solid rgb(116, 116, 116);
  min-width: 200px;
  min-height: 300px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(246, 255, 127, 0.8);
}

.card img {
  width: 13vh;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchField {
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  font-size: 17px;
}

.searchButton {
  padding: 10px;
  border: none;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}

.results {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 1em;
}

.results li {
  flex-basis: calc(25% - 10px);
  border: 3px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 30px;
  min-width: 250px;
  background-color: rgba(246, 255, 127, 0.8);
  color: black;
}
.results li img {
  max-width: 200px;
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  margin-bottom: 1em;
}
.title {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: black;
}

/* home page */
.homeCardList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.homeCard {
  border: 3px solid rgb(116, 116, 116);
  min-width: 200px;
  min-height: 250px;
  padding-top: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: rgba(246, 255, 127, 0.8);
  color: black;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50%;
  margin-left: 70px;
}

.homeCard img {
  margin: 20px;
  max-width: 18vh;
  height: auto;
  width: 100%;
}

button {
  align-items: center;
  border: 2px solid rgb(116, 116, 116);
  background-color: white;
  color: black;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.homeLink {
  color: black;
  text-decoration: none;
}

button:hover {
  background-color: rgb(116, 116, 116);
  color: white;
}

/* Settings */
.settings {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
}

.settings button {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

/*min profil*/
.myProfile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2vh;
  text-align: left;
  background-color: rgba(246, 255, 127, 0.8);
  padding: 4vh;
}
.myProfile h2 {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.myProfile h3 {
  margin-top: 2vh;
}
.avatar {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.faq {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2vh;
  text-align: left;
  background-color: rgba(246, 255, 127, 0.8);
  padding: 4vh;
}

.faq h2 {
  margin-top: 4vh;
}

.faq h3 {
  margin-top: 4vh; 
}

/*Til toppen - https://www.geeksforgeeks.org/how-to-create-a-scroll-to-top-button-in-react-js/*/
.topBtn {
  position: fixed; 
  width: 13%;
  right: 30px;
  bottom: 20px;
  font-size: 15px;
  z-index: 1;
  cursor: pointer;
  color: black;
  background-color: rgb(0, 231, 89);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.topBtn:hover {
  background-color: black;
  color: rgb(0, 231, 89);
}

/*Nav scoreboard*/
.navScoreboard {
  width: 350px;
  background-color: rgb(0, 231, 89);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0 auto;
  padding: 2vh;
}

.imgSection {
  width: auto;
}

.imgSection img {
  width: 3.75rem;
  max-width: 100%;
  height: auto;
}

.username {
  font-weight: 700;
}

.trophySection ul {
  list-style-type: none;
}