#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1em 0;
}
.mainNav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.navElement {
  border: 1px solid black;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
  color: rgb(72, 72, 72);
}
.navElement a {
  text-decoration: none;
  color: rgb(72, 72, 72);
}
.mainNav a {
  text-decoration: none;
}

.cardList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.card {
  border: 3px solid rgb(116, 116, 116);
  min-width: 200px;
  min-height: 250px;
  padding-top: 10px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchField  {
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  font-size: 17px;
}

.searchButton {
  padding: 10px;
  border: none; 
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}

.results {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 1em;
}

.results li {
  flex-basis: calc(25% - 10px);
  border: 3px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 30px;
  min-width: 250px;
}
.results li img {
  max-width: 200px;
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  margin-bottom: 1em;
}
.title {
  font-size: 1.1rem;
}


/* home page */
.homeCardList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.homeCard {
  border: 3px solid rgb(116, 116, 116);
  min-width: 200px;
  min-height: 250px;
  padding-top: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: left;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50%;
  margin-left: 70px;
}

.homeCard img {
  margin: 20px;
  max-width: 30vh;
  height: auto;
  width: 100%;
}

button {
  align-items: center;
  border: 2px solid rgb(116, 116, 116);
  background-color: white;
  color: black;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  padding: 15px;
}

.homeLink {
  color: black;
  text-decoration: none;
}

button:hover {
  background-color:rgb(116, 116, 116) ;
  color: white;
}
