.contentWrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

/* Dark mode toggle */
body {
  background-image: url("./assets/lesesel_dag.webp");
  background-repeat: no-repeat;
  background-color: rgb(120, 251, 255);
  background-attachment: fixed;
  background-size: 100%;
  color: black;
}

.dark-mode {
  background-image: url("./assets/lesesel_natt.webp");
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-size: 100%;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 1em 0;
}
.introText {
  max-width: 700px;
  margin: 1em auto 1em;
}
/* Banner */
.bannerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.banner {
  padding: 0;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
}

/* Navigation */

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 998;
}

.mainNav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navElement {
  position: relative;
}

.navElement a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  background-color: whitesmoke;
  color: rgb(35, 146, 194);
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.navElement a:hover {
  background-color: #9bdbf640;
  border-radius: 10px;
}
.navElement a p {
  color: black;
}
.navElement:hover > .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  z-index: 1;
  padding: 5px 0;
  margin: 0;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  display: flex;
  align-items: center;
  padding: 2px 0px;
}

.dropdown a {
  color: rgb(35, 146, 194);
  text-decoration: none;
}
.navElement a.active {
  font-weight: 600;
  width: 100%;
  height: 100%;
  background-color: #9bdbf6;
  border-radius: 10px;
}
/* Search */
.cardList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.card {
  border: 3px solid rgb(116, 116, 116);
  min-width: 200px;
  min-height: 300px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(246, 255, 127, 0.8);
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  border: none;
  border-radius: 20px;
}

.card img {
  width: 13vh;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchField {
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  font-size: 17px;
}

.searchButton {
  padding: 10px;
  border: none;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 17px;
}

.results {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 1em;
}

.results li {
  flex-basis: calc(25% - 10px);
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 30px;
  min-width: 250px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.results li img {
  max-width: 200px;
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  margin-bottom: 1em;
}
.resultsH3 {
  margin-bottom: 2em;
}
.title {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: black;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  text-align: left;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-content: center;
  font-size: 2rem;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: none;
}
.closeButton:hover {
  background-color: white;
  color: rgb(117, 0, 0);
}

.modalContent img {
  max-width: 90%;
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  margin-bottom: 1em;
}
.bookInfo {
  margin: 1em 0;
  align-self: self-start;
}
.loginReminder {
  margin-top: 1em;
  font-weight: 600;
}
.loginReminder a {
  text-decoration: underline;
}
.addBookBtn {
  margin-top: 2.2em;
}
.loadingSpinner {
  animation: spin 1s linear infinite;
  font-size: 1.5rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bookAddedText {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 2em;
}
.check {
  font-size: 1.5rem;
  color: rgb(0, 158, 61);
}
@media only screen and (max-width: 600px) {
  .results li {
    flex-basis: calc(50% - 10px);
    min-width: 150px;
  }

  .modalContent {
    width: 90%;
  }
}

/* home page */
.homeCardList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
  gap: 25px;
  margin-top: 5vh;
}

.homeCard {
  border: 3px solid rgb(116, 116, 116);
  min-width: 200px;
  max-width: 850px;
  min-height: 250px;
  padding-top: 10px;
  margin: 0 auto 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: rgba(246, 255, 127, 0.8);
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  color: black;
  border-radius: 20px;
  border: none;
  padding-bottom: 5px;
}
.weeklyRecommendation {
  margin: 0 auto;
  padding: 2em 1em;
  min-width: 200px;
  max-width: 850px;
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 2em;
  text-align: left;
  background-color: rgba(246, 255, 127, 0.8);
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  color: black;
  border-radius: 20px;
}
.weeklyBookTag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 0.5em;
  border-radius: 20px 0 20px;
  background-color: rgb(131, 255, 127);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  color: black;
  font-size: 1.2rem;
}
.weeklyRecommendation div {
  max-width: 280px;
  height: auto;
}

.weeklyRecommendation img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  max-width: 50%;
  margin-left: 70px;
  padding: 1em 0;
}

.homeCard img {
  margin: 20px;
  max-width: 18vh;
  height: auto;
  width: 100%;
  object-fit: contain;
}

button {
  align-items: center;
  border: 2px solid rgb(116, 116, 116);
  background-color: white;
  color: black;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
}

.homeLink {
  color: black;
  text-decoration: none;
}

button:hover {
  background-color: rgb(116, 116, 116);
  color: white;
}

/*myprofile, faq, settings pageCard*/
.pageCard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2vh;
  text-align: left;
  background-color: rgba(246, 255, 127, 0.8);
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  border: none;
  border-radius: 20px;
  padding: 2vh 4vh;
  color: black;
}

.pageCard img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.pageCard button {
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.pageCard h2 {
  margin-top: 3vh;
}

.pageCard h3 {
  margin-top: 3vh;
}
.profileTitle {
  text-align: center;
  font-size: 2rem;
}
/*Til toppen - https://www.geeksforgeeks.org/how-to-create-a-scroll-to-top-button-in-react-js/*/
.topBtn {
  position: fixed;
  width: fit-content;
  right: 30px;
  bottom: 20px;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  color: black;
  background-color: rgb(246, 255, 127);
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  padding: 10px;
  border-radius: 10px;
}

.topBtn:hover {
  background-color: black;
  color: rgb(246, 255, 127);
}

/*Nav scoreboard*/
.navScoreboard {
  width: fit-content;
  gap: 20px;
  background-color: rgb(246, 255, 127);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0 auto 5vh auto;
  padding: 2vh;
  color: black;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1;
}
.navScoreboard p {
  font-weight: 600;
}
.navScoreboard p a {
  text-decoration: underline;
}
.imgSection {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgSection img {
  width: 3.75rem;
  max-width: 100%;
  height: auto;
}

.imgSection a button {
  color: black;
  background-color: white;
}

.imgSection a button:hover {
  color: white;
  background-color: rgb(116, 116, 116);
}

.username {
  font-weight: 700;
  text-decoration: underline;
}
.username:hover {
  color: #0b6992;
}
.trophyThumbnail {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px rgb(15, 15, 15);
  width: fit-content;
  margin: 1em auto;
  padding: 2em;
  border-radius: 10px;
  color: black;
}
.loginForm p {
  margin-top: 2vh;
}

.loginForm p a {
  text-decoration: underline;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 1em;
  font-weight: 600;
}
.formWrapper input {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
}
.loggedIn {
  background-color: rgba(246, 255, 127, 0.8);
  width: fit-content;
  margin: 2em auto;
  padding: 2em;
  border-radius: 20px;
  color: black;
}
.loggedIn div img {
  max-width: 300px;
}
.loggedIn div div {
  margin: 1em 0;
}
/* Trophies */
.trophies {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.trophy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 150px;
  box-shadow: 2px 2px 5px black;
  border-radius: 20px;
  padding: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.689);
}
.trophyChosenOverlay {
  position: absolute;
  padding: 5px 5px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
}

.trophyChosenText {
  color: rgb(45, 161, 45);
  font-size: 2rem;
}
.unlockedTrophy {
  cursor: pointer;
}
.lockedTrophy {
  filter: grayscale(1);
}
.trophyHeader {
  margin: 1em 0 0.5em;
}
/*Footer*/
.footerWrapper {
  display: flex;
  margin-top: 3em;
  padding: 3em 1em;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  background-color: #494949;
  color: white;
}
.footerWrapper img {
  max-width: 250px;
  height: auto;
}
.footerLinks a {
  color: white;
  text-decoration: underline;
}
